.supplier-page {
    padding: 20px;
    margin-left: 250px;
    margin-top: 50px;
  }
  
  .supplier-page h2 {
    margin-bottom: 20px;
  }
  
  .btn-tambah-supplier {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 400px;
  }
  
  .btn-tambah-supplier:hover {
    background-color: #0056b3;
  }
  
  .supplier-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .supplier-table th,
  .supplier-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .supplier-table th {
    background-color: #f4f4f4;
  }
  