/* body.landing-page, body.dashboard-page{
    overflow-x: hidden;
  } */

body.login-page{
    height: 100%;  /* Pastikan body dan html mengambil seluruh tinggi layar */
    margin: 0;     /* Hilangkan margin default */
    display: flex;
    justify-content: center; /* Menyelaraskan secara horizontal */
    align-items: center;     /* Menyelaraskan secara vertikal */
  }

  body.signup-page{
    margin-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center; /* Menyelaraskan secara horizontal */
    align-items: center;     /* Menyelaraskan secara vertikal */
  }

  body.produk-page{
    flex-grow: 1; /* Membuat div ini tumbuh untuk mengisi sisa ruang */
    padding-bottom: 100px;
  }